<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.cmu.partytracer"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".PartyTracer"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.trace.Map"
        		  android:enabled="true"
        		  android:label="@string/module_trace" />
		<activity android:name=".activity.invitation.InviteModule"
				  android:enabled="true"
                  android:label="@string/module_invite" />
        <activity android:name=".activity.invitation.CreationDialog"
        		  android:enabled="true"
                  android:label="@string/module_create" />
        <activity android:name=".activity.invitation.ViewInvitesDialog"
        		  android:enabled="true"
        		  android:label="@string/module_view" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 